
{% extends "base.html" %}
{% block content %}
<div class="home-hero">
    <div class="hero-content">
        <h1>Welcome To DineMate!</h1>
        <h2>Discover Amazing Restaurants Here</h2>
        <p>Find the perfect dining experience tailored just for you</p>
        {% if not current_user.is_authenticated %}
            <a href="{{ url_for('main.register') }}" class="btn btn-primary">Get Started</a>

        {% else %}
        <a href="{{ url_for('main.dashboard') }}" class="btn btn-primary">Get Started</a>
        {% endif %}
    </div>
</div>
{% endblock %}
